/* BODY */
body{
    text-align: center;
    margin:0;
    padding:0;
}

.titre{
    font-size: 40;
    text-decoration: none;
    display: block;
    font-family: Optima, sans-serif;
    font-weight: 500;
    color:white;
    background-color: #D3C5AE;
    padding: 30px;
}

/*TOP BAR*/

.toppage{
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    position: static;
}

.topnav{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
}

p{
    color: white;
    letter-spacing: 10px;
    font-family: Helvetica, sans-serif;
    font-weight: 50;
    font-size: 12px;
}

.navbar{
    padding: 20px;
}

.navbar a{
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    padding-top: 0px;
    text-decoration: none;
    font-size: 17px;
    font-family: Optima, sans-serif;
    font-weight: 100;
}

.navbar a:hover{
    color:black;
    transition: 0.8s;
}

.bigname a{
    font-size: 70;
    text-decoration: none;
    text-align: center;
    font-family: Optima, sans-serif;
    font-weight: 500;
    color:white;
}

/* NEXT*/



.aboutustext{
    font-family: Optima, sans-serif;
    font-size: 18;
    padding: 20px;
}

.aboutustext img{
    padding: 20px;
    width: 200px;
    height: 200px;
    text-align: center;
    filter: grayscale(50%);
}



/* FOOTER */

footer{
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-size: 15;
    text-decoration: none;
    text-align: center;
    font-family: Optima, sans-serif;
    font-weight: 500;
    color:black;
    padding: 20px;
}

footer a{
    text-decoration: none;
    color:black;
}

footer a:hover{
    color:grey;
    transition-duration: 0.8s;
}